


.home__image{
    /* width:100%; */

    width: 100vw;
    z-index: -1;
    margin-bottom: -150px;
    height: 50vh;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.banner__img{
    height: 15vh;
    margin-bottom: 10px;
}

.cart__item{
    width: 135px;
    height: 150px;
}

.checkout__item{
    width: 135px;
    height: 150px;
    margin-left: 3%;
}

.logo__img{
    width: 135px;
    height: 60px; 
}


.robot__img{
    width: 200px;
    height:200px;
}
